@{
	ViewBag.Title = "Hakkımızda";
}
	<div role="main" class="main">
				<div class="container">
					<div class="row pt-xl">
						<div class="col-md-7">
							<h1 class="mt-xl mb-none">Şirket Tanımı</h1>
							<div class="divider divider-primary divider-small mb-xl">
								<hr>
							</div>
							<p>Sakarya Halı Saha olarak 2014 tarihinden beri Sakarya Merkez’de hizmet vermeye devam eden kurumumuzda 7/24 seyirci olarak ve müşteri olarak zaman geçirebilirisiniz.

Oynayan müşterilerimizin sağlığı ve titizlikleri için tüm önemler alınmıştır. Ayrıca; İnsan sağlığına zarar vermeyen granür serdik. Seyirci yerlerini, sıcak su duşlarını, kafenin ısınmasını, led aydınlatmayı (16*400 Watt) ve diğer hizmet veren yerleri yeniledik. Açık olduğu sürece oynayan müşterilere çay, oralet,Su ücretsiz ve Kafe hizmetleri de veriyoruz.Günün her saatine hizmet verilir.</p>

							<img width="205" class="img-responsive pull-left mr-xl mb-xl mt-xs" alt="" src="img/logo-14.png">
						   <h3>Hizmet Tanımı</h3>
							<ul>

								<li>Led Aydınlatma Sistemi</li>
								<li>Otopark</li>
								<li>Duş</li>
								<li>Kafeterya</li>

								<li>Emanet Kasası</li>
								<li>Soyunma Odaları bulunmaktadır</li>
								<li>Çay, Oralet ve Su İkramımızdır</li>
							</ul>
							<br>
							

							<h2 class="mt-xlg mb-md">Uzmanlık</h2>

							<p>Futbol; Takım ruhunu oluşturur. Arkadaşlar arasında paylaşım ruhunu geliştirir. Çocuk ve gençlere spor yapma alışkanlığı kazandırır. Disiplinli çalışmayı öğretir.</p>

							<h2 class="mt-xlg mb-md">Hizmet Bölgeleri</h2>
							<p>Sakarya Geneline Hizmet Vermekteyiz.</p>
						</div>
						
					</div>
				</div>
			</div>