@{
    ViewBag.Title = "İletişim";
}
<h2>@ViewBag.Title.</h2>

<address>
     Sakarya Halısaha<br />
    Emek Mah. Osmangazi Cad. 30 Sakarya Merkez 15100, Sakarya<br />

</address>

<address>
    <strong>Mail:</strong> sakaryahalisaha@gmail.com<br />
    <strong>Telefon:</strong> 0545 258 47 21
</address>