@{
    ViewBag.Title = "Sakarya Halısaha";
}
<div class="jumbotron" style="margin-top:10px">
    <img width="1000" src="../../images/slide1.jpg" alt="Sakarya Halısaha" />
</div>
<div class="container"  style="-webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                -ms-transition: all 0.3s ease-out;
                transition: all 0.3s ease-in-out;
                border-radius:10px;
                -webkit-box-shadow: 0px 1px 20px 0px rgba(0,0,0);
                -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0);
                box-shadow: 0px 1px 20px 0px rgba(0,0,0);">
    <div class="row">
        <div class="col-md-4">
            <h2><br /><br /></h2>
            <ul style="color:green;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                <li>
                    Geniş Oyun Alanı
                </li>
                <li>
                    Profesyonel Işıklandırma
                </li>
                <li>
                    Optimum Temizlik
                </li>
                <li>
                    Optimum Temizlik
                </li>
                <li>
                    Hızlı Rezervasyon
                </li>
                <li>
                    Maksimum Güvenlik
                </li>

            </ul>


        </div>
        <h2>SAKARYA HALISAHA</h2>
        <div class="col-md-4">

            <br />
            <br />
            <ul style="color:green; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                <li>
                    Yaz aylarının tadını çıkarın.
                </li>
                <li>
                    Yemyeşil sahalarda futbol heyecanı.
                </li>
                <li>
                    Kalitenin adresi
                </li>


            </ul>
        </div>
        <div class="col-md-4">
            <h2></h2>
            <ul style="color:green; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                <br />
                <li>
                    Online Rezervasyon.
                </li>
                <li>
                    Sakarya Halısaha Farkıyla.
                </li>


            </ul>
        </div>
    </div>
</div>